{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Todo App</h1>

<form method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Add new task" />
    <input type="text" name="description" placeholder="Write details.." />
    <button type="submit">Add</button>
</form>

<hr />

<ul>
    {% for t in todos %}
    <li>
        {% if not t.completed %}
        <h1>{{ t.title }}</h1>
        <h6>Created : ({{ t.created_at }})</h6>

        {% if t.edited %}
        <h6>Updated : ({{ t.updated_at }})</h6>
        {% endif %}

        {% if t.description %}
        <p>{{ t.description }}</p>
        {% endif %}

        {% else %}

        <s>{{ t.title }}</s>
        <h6>Created : ({{ t.created_at }})</h6>

        {% if t.edited %}
        <h6>Updated : ({{ t.updated_at }})</h6>
        {% endif %}

        {% if t.description %}
        <p>{{ t.description }}</p>
        {% endif %}

        <hr />

        {% endif %}
    </li>

    {% if not t.completed %}
    <form action="/completed/{{ t.id }}/" method="POST" style="display:inline-block">
        {% csrf_token %}
        <button type="submit">Completed</button>
    </form>

    <form action="/edit/{{ t.id }}/" method="GET" style="display:inline-block">
        {% csrf_token %}
        <button type="submit">Edit</button>
    </form>
    {% endif %}

    <form action="/delete/{{ t.id }}/" method="POST" style="display:inline-block">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>

    <hr>

    {% endfor %}
</ul>

{% endblock %}